<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Libros</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>

<form>
    Titulo: <input type="text" name="titulo"/>
    Autor: <input type="text" name="autor" />
    <input type="hidden" id="orden" name="orden" value="isbn" />
    <input type="submit">
</form>

<table>
    <tr>
        <th>
            <a class="orden" href="">isbn</a>
        </th>
        <th>
            <a class="orden" href="">titulo</a>
        </th>
        <th>
            <a class="orden" href="">autor</a>
        </th>
        <th>
            <a class="orden" href="">precio</a>
        </th>
    </tr>
    <tr th:each="libro: ${libros}">
        <td th:text="${libro.isbn}"></td>
        <td th:text="${libro.titulo}"></td>
        <td th:text="${libro.autor}"></td>
        <td th:text="${libro.precio}"></td>
    </tr>
</table>

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("form").submit(function () {

            $("input:text").filter(function (){
                return $(this).val() == "";
            }).attr("disabled", "disabled");

        });

        $(".orden").click(function (e) {
            e.preventDefault();
            $("#orden").val($(this).text());
            $("form").submit();
        })

    });
</script>
</body>
</html>